*{
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-animation: fadein 2s;

    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 3%;
    margin-bottom: auto;
    
}

#navbar-name {
    margin: auto;
    display: flex;
    margin-left:50px;
    color: rgb(202, 143, 202);
    font-size: 30px;
    min-width: 300px;
    text-shadow: 3px 3px 5px silver;
}

ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

li {
    margin-left: 30px;
    
    min-width: 100px;
}

.navbar-left, .navbar-right {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

.navbar-right{
    margin-top: 50px;
    position: relative;
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgb(202, 143, 202));
    transform: scale(1.25);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

button{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    color: grey;
    font-weight: 600;
    text-shadow: 5px 5px 10px silver;
}

.vert-rule{
    margin-top: 50px;
    border-left: 3px solid rgb(202, 143, 202);
    padding-left: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.icon-list:hover{
    filter: drop-shadow(0 0 0.75rem rgb(202, 143, 202));
    transform: scale(1.25);
}

#second-section{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-header{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(202, 143, 202);
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 5px 5px 10px silver;
}

.about-desc{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: grey;
}

#third-section{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.experience-header{
    font-size: 45px;
    margin-bottom: 10px;
    color: rgb(202, 143, 202);
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 5px 5px 10px silver;
}

.experience-description{
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    color: grey;
}

#fourth-section{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects-header{
    font-size: 45px;
    margin-bottom: 10px;
    color: rgb(202, 143, 202);
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 5px 5px 10px silver;
}

.projects-description{
    font-family: 'Montserrat', sans-serif;
    margin-right: 800px;
    margin-top: 50px;
    font-size: 15px;
    color: grey;
}

.rsp-display{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 50px;
}

.project-bar{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 50px;
    justify-content: center;
}

.weather-app {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 50px;
}

.wwsite {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 50px;
}